<div class="login">
  <h1>Регистрация</h1>
  <div>
    <p>Имя</p>
    <input #fname name="firstname">
  </div>
  <div>
    <p>Фамилия</p>
    <input #lname name="lastname">
  </div>
  <div>
    <p>Email</p>
    <input #email name="email">
  </div>
  <div>
    <p>Пароль</p>
    <input #pass name="password" type="password">
  </div>
  <div>
    <p>Подтвердите пароль</p>
    <input type="password"
      (input)="checkPassword(pass.value, rpass.value) ? rpass.classList.remove('red-outline') : rpass.classList.add('red-outline')"
      #rpass id="repeatPassword"
    />
  </div>

  <button
    (click)="tryRegister(fname.value, lname.value, email.value, pass.value, rpass.value)">
    <p>Зарегистрироваться</p>
  </button>

</div>
