<div [ngClass]="['footer', acceptedRoutes.includes(currentRoute) ? '' : 'hidden']">
    <div class="footer-conteiner">
        <div class="info" routerLink="/" routerLinkActive="cursor-default" [routerLinkActiveOptions]="{ exact: true }">
            <img src="./assets/img/logo.png">
            <p style="font-size: 46px; color: white; line-height: 54px;"><span style="color: #e7a83c;">A</span>penix</p>
            <p style="color: #a8a8a8; font-size: 16px;">Copyright © 2023</p>
            <p style="color: #a8a8a8; font-size: 16px;">All rights reserved</p>
        </div>
        <div class="about ">
            <p class="title">О компании</p>
            <div class="points">
                <p>О нас</p>
                <p>Контакты</p>
                <p>Отзывы</p>
            </div>
        </div>
        <div class="help">
            <p class="title">Помощь</p>
            <div class="points">
                <p>FaQ</p>
                <p>Поддержка</p>
                <p>Партнерам</p>
            </div>
        </div>
        <div class="adress">
            <p class="title">Адреса</p>
            <div class="points">
                <p>г. Димитровград<br> ул. Безрукова 8</p>
                <p>+7 902 000 61 16</p>
                <p>pochta@mail.net</p>
            </div>

        </div>

    </div>
</div>
