<div class="header">
  <div class="header-content">
    <p routerLink="/" [ngClass]="['logo', currentRoute === '/' ? 'cursor-default': '']">
      <span>A</span>penix
    </p>
    <div class="search">
      <input type="text">
      <div class="img-bg">
        <img src="./assets/img/search.png">
      </div>
    </div>
    <p class="auth" routerLink="/login" [ngClass]="[currentRoute === '/login' ? 'hidden' : '']">Войти</p>
    <p class="auth" routerLink="/registration" [ngClass]="[currentRoute === '/login' ? '' : 'hidden']">Регистрация</p>
  </div>
  <app-menu></app-menu>
</div>
