<div class="header">
  <div class="header-content">
    <p routerLink="/" [ngClass]="['logo', currentRoute === '/' ? 'cursor-default': '']">
      <span>A</span>penix
    </p>
    <div class="search">
      <input type="text">
      <div class="img-bg">
        <img src="./assets/img/search.png">
      </div>
    </div>
    <p class="auth" routerLink="/login" [ngClass]="[currentRoute === '/login' ? 'hidden' : '']">Войти</p>
    <p class="auth" routerLink="/registration" [ngClass]="[currentRoute === '/login' ? '' : 'hidden']">Регистрация</p>
  </div>
  <div [ngClass]="['menu', currentRoute === '/' ? '' : 'hidden']">
    <div class="preschool">
      <p>Для дошкольников</p><img class="arrow" src="./assets/img/arrowdown.png">
      <div class="PreSchoolContent">
        <div class="popUp">
          <div class="item">
            <p>Математика</p>
          </div>
          <div class="item">
            <p>Грамота</p>
          </div>
          <div class="item">
            <p>Рисование</p>
          </div>
          <div class="item">
            <p>Литература</p>
          </div>
          <div class="item">
            <p>Окружающий мир</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
        </div>
      </div>
    </div>
    <div class="school">
      <p>Для школьников</p><img class="arrow" src="./assets/img/arrowdown.png">
      <div class="SchoolContent">
        <div class="popUp">
          <div class="item">
            <p>Математика</p>
          </div>
          <div class="item">
            <p>Грамота</p>
          </div>
          <div class="item">
            <p>Рисование</p>
          </div>
          <div class="item">
            <p>Литература</p>
          </div>
          <div class="item">
            <p>Окружающий мир</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
        </div>
      </div>
     </div>

    <div class="student">
      <p>Для студентов</p><img class="arrow" src="./assets/img/arrowdown.png">
      <div class="StudentContent">
        <div class="popUp">
          <div class="item">
            <p>Математика</p>
          </div>
          <div class="item">
            <p>Грамота</p>
          </div>
          <div class="item">
            <p>Рисование</p>
          </div>
          <div class="item">
            <p>Литература</p>
          </div>
          <div class="item">
            <p>Окружающий мир</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
