<div class="conteiner">
<app-teacher-form></app-teacher-form>
  <div>
    <div class="userinfo">
      <label class="profileImg">
        <div id="profile_picture"></div>
        <input class="hidden" type="file" name="image" #image (change)="changeAvatar(image)">
      </label>
      <div class="shortInfo">
        <p>{{ user.firstname }} {{ user.lastname }}</p>
        <p>{{ accountType }}</p>
      </div>
      <div class="mainInfo">

        <div class="title">
          <p>Почта</p>
          <p>Дата регистрации</p>

        </div>

        <div class="info">
          <p>{{ user.email }}</p>
          <p>{{ user.created }}</p>
        </div>
      </div>
      <button (click)="logout()">Выход</button>
    </div>
    <div class="be-teacher" *ngIf="user.accountType < 1">
      <p>Заполните <span class="openPopup" (click)="TeacherFormComponent.Instance.openForm()">форму</span> и
      станьте проподавателем.</p>
    </div>
    <ng-container *ngIf="user.accountType >= 2">
      <div class="moderation">
        <p routerLink="/moderation"> Страница модерации</p>
      </div>
    </ng-container>
  </div>
  <div>
    <div class="futureLessions">
      <p class="fl">Назначенные уроки</p>
      <div class="lessionConteiner">
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Ученик Один</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Ученик Два</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Ученик Три</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Ученик Четыре</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Бекит Ученик Один</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Бекит Ученик Два</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>


      </div>
    </div>
    <div class="pastLessions">
      <p class="fl">Прошедшие уроки</p>
      <div class="lessionConteiner">
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Ученик Один</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Ученик Один</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Ученик Один</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Ученик Один</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Ученик Один</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>
        <div class="lession">
          <div class="lession-name">
            <p style="color:#e7a83c; font-size: 22px;">География</p>
            <p>19:00</p>
          </div>
          <div class="lession-info">
            <p>Ученик Один</p>
            <p>4 класс</p>
            <p>2 часа</p>
            <p>600 р.</p>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="past-lessions"></div>
</div>
