

<div class="conteiner">
    <div class="popup-bg">
        <div class="popUpteacher">
            <div class="closePopup">X</div>
            <p>Образование</p>
            <input type="text">
            <p>Место обучения</p>
            <input type="text">
            <p>Стаж работы</p>
            <input type="text">
            <p>Кому преподавать</p>
            <div class="checkbox"><input type="checkbox" value="Дошкольники">
                <p>Дошкольники</p>
            </div>
            <div class="checkbox"><input type="checkbox" value="Школьники">
                <p>Школьники</p>
            </div>
            <div class="checkbox"><input type="checkbox" value="Студенты">
                <p>Студенты</p>
            </div>
            <p>Преподаваемые предметы</p>
            <div class="lessionsCB">
                <div><input type="checkbox" value="Студенты">
                    <p>География</p>
                </div>
                <div><input type="checkbox" value="Студенты">
                    <p>География</p>
                </div>
                <div><input type="checkbox" value="Студенты">
                    <p>География</p>
                </div>
                <div><input type="checkbox" value="Студенты">
                    <p>География</p>
                </div>
            </div>
            <button>Стать учителем</button>
        </div>
    </div>
    <div>
        <div class="userinfo">
            <div class="profileImg"></div>
            <div class="shortInfo">
                <p>Андрей Офциеров</p>
                <p>Ученик</p>
            </div>
            <div class="mainInfo">

                <div class="title">
                    <p>Почта</p>
                    <p>Телефон</p>
                    <p>Пароль</p>
                    <p>Тип</p>
                    <p>Дата регистрации</p>

                </div>

                <div class="info">
                    <p>pochta@mail.ru</p>
                    <p>+7 000 000 00 00</p>
                    <p>**********</p>
                    <p>Школьник</p>
                    <p>26.04.2077</p>
                </div>
            </div>
            <button>Выход</button>
        </div>
        <div class="be-teacher">
            Заполните&nbsp; <span class="openPopup">форму</span> &nbsp;и станьте проподавателем.
        </div>
    </div>
    <div>
        <div class="futureLessions">
            <p class="fl">Назначенные уроки</p>
            <div class="lessionConteiner">
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>


            </div>
        </div>
        <div class="pastLessions">
            <p class="fl">Прошедшие уроки</p>
            <div class="lessionConteiner">
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>
                <div class="lession">
                    <div class="lession-name">
                        <p style="color:#e7a83c; font-size: 22px;">География</p>
                        <p>19:00</p>
                    </div>
                    <div class="lession-info">
                        <p>Бекит незруков</p>
                        <p>4 класс</p>
                        <p>2 часа</p>
                        <p>600 р.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="past-lessions"></div>
</div>

<script type="text/javascript" src="./assets/scripts/working.js"></script>