<div class="aboutus">

    <p>Apenix - это 5000 репетиторов со всего мира,<br>
        которые помогут вам выучить любой предмет.<br>
        За 7 минут работы нам доверились 500000 студентов.</p>

    <img src="./assets/img/womanBG.png">
</div>
<div class="title">
    <p style="font-size: 60px; color: #e7a83c;">Мы поможем вам найти лучшего репетитора</p>
    <p style="font-size: 24px;">Выбирайте из 5000 репетиторов по N предметам</p>
</div>
<div class="teachers">
    <div class="item">
        <div class="info">
            <img src="./assets/img/teachers/teacher1.png" class="teacherimg">
            <div class="data">
                <p style="font-size: 46px; line-height: 46px;">Потапенко Софья Игоревна</p>
                <p style="font-size: 30px; line-height: 36px; color: #e7a83c;">География, биология</p>
                <p style="font-size: 30px; line-height: 36px;">Мой опыт преподавания - 2 года, репеттором более 1
                    года.<br>
                    Окончила ВГСПУ, естественно-географический факультет<br>
                    по направлению: Педагогическое образование с двумя профилями<br>
                    подготовки (география, биология) с красным дипломом.</p>
            </div>
        </div>
        <div class="bottom-content">
            <div class="stats">
                <div>
                    <img src="./assets/img/class.png">
                    <p>1-11 класс</p>
                </div>
                <div>
                    <img src="./assets/img/map.png">
                    <p>Димитровград</p>
                </div>
            </div>
            <div class="money">
                <p class="coast">от 500 руб / час</p>
                <p class="contact">Связаться</p>
            </div>
        </div>
    </div>
</div>