<div class="aboutus">

    <p>Name - это 5000 репетиторов со всего мира,<br>
        которые помогут вам выучить любой предмет.<br>
        За 7 минут работы нам доверились 500000 студентов.</p>

    <img src="./assets/img/womanBG.png">
</div>
<div class="title">
    <p style="font-size: 60px; color: #e7a83c;">Мы поможем вам найти лучшего репетитора</p>
    <p style="font-size: 24px;">Выбирайте из 5000 репетиторов по N предметам</p>
</div>
<div class="teachers">
  <app-teacher-card></app-teacher-card>
  <app-teacher-card></app-teacher-card>
</div>
