<div class="item" *ngIf="teacher !== null">
  <div class="info">
    <img [style]="{
      backgroundImage: backImg
    }" class="teacherimg"/>
    <div class="data">
      <p style="font-size: 46px; line-height: 46px; padding-bottom: 8px">{{ teacher.firstname }} {{ teacher.lastname }}</p>
<!--      <p style="font-size: 30px; line-height: 36px; color: #e7a83c;">География, биология</p>-->
      <div class="description">
        <p>
          {{ teacher.teacherInfo.aboutMe }}
         </p>
      </div>
    </div>
  </div>
  <div class="bottom-content">
    <div class="stats">
<!--      <div>-->
<!--        <img src="./assets/img/class.png">-->
<!--        <p>1-11 класс</p>-->
<!--      </div>-->
<!--      <div>-->
<!--        <img src="./assets/img/map.png">-->
<!--        <p>Димитровград</p>-->
<!--      </div>-->
    </div>
    <div class="money">
      <p class="price">от 500 руб / час</p>
      <p class="contact">Связаться</p>
    </div>
  </div>
</div>
