<div [ngClass]="['menu', currentRoute === '/' ? '' : 'hidden']">
    <div class="preschool">
      <p>Для дошкольников</p><img class="arrow" src="./assets/img/arrowdown.png">
      <div class="PreSchoolContent">
        <div class="popUp">
          <div class="item">
            <p>Математика</p>
          </div>
          <div class="item">
            <p>Грамота</p>
          </div>
          <div class="item">
            <p>Рисование</p>
          </div>
          <div class="item">
            <p>Литература</p>
          </div>
          <div class="item">
            <p>Окружающий мир</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
        </div>
      </div>
    </div>
    <div class="school">
      <p>Для школьников</p><img class="arrow" src="./assets/img/arrowdown.png">
      <div class="SchoolContent">
        <div class="popUp">
          <div class="item">
            <p>Математика</p>
          </div>
          <div class="item">
            <p>Грамота</p>
          </div>
          <div class="item">
            <p>Рисование</p>
          </div>
          <div class="item">
            <p>Литература</p>
          </div>
          <div class="item">
            <p>Окружающий мир</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
        </div>
      </div>
     </div>

    <div class="student">
      <p>Для студентов</p><img class="arrow" src="./assets/img/arrowdown.png">
      <div class="StudentContent">
        <div class="popUp">
          <div class="item">
            <p>Математика</p>
          </div>
          <div class="item">
            <p>Грамота</p>
          </div>
          <div class="item">
            <p>Рисование</p>
          </div>
          <div class="item">
            <p>Литература</p>
          </div>
          <div class="item">
            <p>Окружающий мир</p>
          </div>
          <div class="item">
            <p>Логопед</p>
          </div>
        </div>
      </div>
    </div>
  </div>