<div [ngClass]="['menu', currentRoute === '/' || currentRoute === '/#SWEP_Selectors' ? '' : 'hidden']">
    <div class="preschool">
      <p>Для дошкольников</p><img class="arrow" src="./assets/img/arrowdown.png">
      <div class="PreSchoolContent">
        <div class="popUp">
        <ng-container *ngFor="let sLink of StudyLinks;">
          <div class="item" *ngIf="sLink.availablePeoples | IncludesEducatablePeoples: underSchoolars">
            <a href="#SWEP_Selectors" (click)="HomeComponent.ChangeSWAndEP(sLink.studyWay, 0)">{{ sLink.studyWay }}</a>
          </div>
        </ng-container>
        </div>
      </div>
    </div>
    <div class="school">
      <p>Для школьников</p><img class="arrow" src="./assets/img/arrowdown.png">
      <div class="SchoolContent">
        <div class="popUp">
          <ng-container *ngFor="let sLink of StudyLinks;">
            <div class="item" *ngIf="sLink.availablePeoples | IncludesEducatablePeoples: schoolars">
              <a href="#SWEP_Selectors" (click)="HomeComponent.ChangeSWAndEP(sLink.studyWay, 1)">{{ sLink.studyWay }}</a>
            </div>
          </ng-container>
        </div>
      </div>
     </div>

    <div class="student">
      <p>Для студентов</p><img class="arrow" src="./assets/img/arrowdown.png">
      <div class="StudentContent">
        <div class="popUp">
          <ng-container *ngFor="let sLink of StudyLinks;">
            <div class="item" *ngIf="sLink.availablePeoples | IncludesEducatablePeoples: students">
              <a href="#SWEP_Selectors" (click)="HomeComponent.ChangeSWAndEP(sLink.studyWay, 2)">{{ sLink.studyWay }}</a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
